---
import { Image } from "astro:assets";
import openGraphScraper from "open-graph-scraper";

interface Props {
	href: string;
	title?: string;
}

const { href, title } = Astro.props;

const options = { url: href };
const { result } = await openGraphScraper(options);
---

<li class="link-card list-style-none bg-hover-effect">
	<a href={href} target="_blank" rel="noopener noreferer">
		{result.ogImage && <Image src={result.ogImage[0].url} alt={result.ogTitle ?? `${href} image`} width="80" height="42" format="avif" />}
		<h2>
			{title ?? result.ogTitle}
		</h2>
		<span class="arrow-link">&rarr;</span>
	</a>
</li>

<style>
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
	.link-card > a > .arrow-link {
		margin-left: auto;
		rotate: -45deg;
	}
	.link-card > a > img {
		border-radius: 4px;
	}
	.link-card h2 {
		text-align: left;
		display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
	}
</style>
